<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table{
      width: 100%;
      height: 200px;
    }
    div{
      text-align: center;
    
      width: 100%;
      height: auto;
     
    }
    a{
      font-size: 20px;
    }
  </style>
</head>

<body>
  <h1> Admin Dashboard</h1>
  <a href="/admin/home">Go to Home</a>
  
<form >
  <input type="text"name='search'placeholder='name ,email,phone'>
  <input type="submit"value='search'>
</form>

  <table width="50%">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Image</th>
      <th>Varified</th>
    </tr>
    {{#if (gt list.length 0)}}
        {{#each list}}
          <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td><img src="/userimages/{{Image}}"width='80'height='80' alt=""></td>
             <td>{{#if is_varified}}
                    <p>yes</p>
                    {{else}}
                      <p>no</p>
                 {{/if}}
             </td>
             <td>
              <a href="/admin/edit?_id={{_id}}">Edit</a>
              <a href="/admin/delete?id={{_id}}">Delete</a>
             </td> 
            
            {{!-- <td>{{phone}}</td> --}}
          </tr>
        {{/each}}
      {{else}}
       <tr>
        <td collaps="5">not found</td>
       </tr>
    {{/if}}    
  </table>


<div>
  {{#if (gt currentpage 1)}}
   <a href="?page={{prev}}">Pre..</a>
   {{/if}} 
   {{#if (gt totalpages 1)}}
     {{#each pages}}
      <a href="?page={{this}}">{{this}}</a> 
     {{/each}}
   {{/if}}
  
   <a href="?page={{Nextpage}}">nextpage</a>
 
 </div>
  <a href="/admin/new_User">Add New User</a>
</body>

</html>