<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ums</title>
</head>
<body>
  {{!-- {{>header}} --}}
   <h1>Update User</h1> 
   <form action=""method='post'>
   <input type="hidden"name='id'value="{{user._id}}">
  Name<br>
  <input type="text"name='name'value={{user.name}} placeholder="Enter your name">
  <br>
  <br>
  <br>
  Email<br>
  <input type="email"name='email'value={{user.email}}  placeholder="Enter your email">
  <br>
  <br>
  <br>
  Mobile<br>
  <input type="text"name='phone' value={{user.phone}} placeholder="Enter your mobile number">
  <br>
  <br>
  <br>
  <label>verified</label>
<input type="radio" name="varification" value="1" {{#if user.is_varified}}checked{{/if}}>&nbsp;&nbsp;&nbsp;&nbsp;
<label>unverified</label>
<input type="radio" name="varification" value="0" {{#unless user.is_varified}}checked{{/unless}}>

  <br>
  <br>
  <br>
  
  <button type="submit">update User</button>
</form>
<br><br><br>
<a href="/admin/dashboard">Go Back</a>
   {{#if message}}
    <p style="color: green;">{{message}}</p>
  {{/if}}
  <br><br><br>
  {{>footer}}
</body>
</html>

